doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='format-detection', content='telephone=no')

    //- Title
    //- ===================================
    title Schedulab

    //- Favicon and SVG logo
    //- ===================================
    link(rel='shortcut icon', href='assets/img/favicon.ico')
    link(rel='logo', type='image/svg', href='assets/img/logo.svg')

    //- Stylesheet and fonts are placed after body for performance reasons
    //- Scripts are places at the end of body for performance reasons

  body
    header.header
      h1.title  Schedulab

      button#addScheduling.add-scheduling +

    #modalSchedulingContainer.modal__scheduling
      #modalSchedulingDarken.modal__scheduling__darken
      .modal__scheduling__card
        h2#schedulingTitle.modal_scheduling__card__title {action} reserva

        form.modal__scheduling__card__form
          label(for="schedulingPlace") Local
          select#schedulingPlace(type="select", name="reservationPlace")
            option(value="lab2") Lab 2
            option(value="lab3") Lab 3
            option(value="lab4") Lab 4

          label(for="schedulingDate") Data da reserva
          input#schedulingDate(type="date", name="reservationDate")

          label(for="schedulingHour") Turno da reserva
          select#schedulingHour(type="select", name="reservationHour")
            option(value="manha") Manhã
            option(value="tarde") Tarde
            option(value="noite") Noite

          label(for="schedulingPorprouse") Propósito
          input#schedulingPorprouse(type="select", name="reservationPorprouse")

          label(for="schedulingUser") Responsável
          input#schedulingUser(type="text", name="reservationUser")

          input#schedulingSubmit(type="submit", name="reservationSubmit" value="{action}")



    .schedules

      each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        .schedule__card
          .schedule__card__lab
            span.schedule__card__lab__text Lab 2
          span.schedule__card__date 09/06
          span.schedule__card__time Tarde
          span.schedule__card__task Sist. Dist. BCC2014
          span.schedule__card__user Rennan Maia
          .schedule__card__buttons
            button#scheduleCardButtonsEdit.schedule__card__buttons__edit
            button.schedule__card__buttons__delete

    //- JS scripts
    //- ===================================
    script(async, src='js/index.min.js')

  //- Stylesheet and fonts
  //- ===================================
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
  link(rel='stylesheet', href='assets/css/style.min.css')
