doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='format-detection', content='telephone=no')

    //- Title
    //- ===================================
    title Schedulab

    //- Favicon and SVG logo
    //- ===================================
    link(rel='shortcut icon', href='assets/img/favicon.ico')
    link(rel='logo', type='image/svg', href='assets/img/logo.svg')

    //- Stylesheet and fonts are placed after body for performance reasons
    //- Scripts are places at the end of body for performance reasons

  body
    header.header
      h1.title  Schedulab

      button#addScheduling.add-scheduling +

    #modalSchedulingContainer.modal__scheduling
      .modal__scheduling__darken
      .modal__scheduling__card
        h2#schedulingTitle.modal_scheduling__card__title Título
        form.modal__scheduling__card__form
          label(for="schedulingData") Início da reserva
          input#schedulingData(type="datetime-local", name="reservationStart")
          label(for="schedulingData") Final da reserva
          input#schedulingData(type="datetime-local", name="reservationEnd")
          label(for="schedulingData") Propósito
          input#schedulingData(type="text", name="reservationPorprouse")
          label(for="schedulingData") Responsável
          input#schedulingData(type="text", name="reservationUser")

          input#schedulingData(type="submit", name="reservationSubmit" value="ConfirmText")



    .schedules

      each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        .schedule__card
          span.schedule__card__date 09/06
          span.schedule__card__time 14:00~18:00
          span.schedule__card__task Sist. Dist. BCC2014
          span.schedule__card__user Rennan Maia
          .schedule__card__buttons
            button.schedule__card__buttons__edit
            button.schedule__card__buttons__delete

    //- JS scripts
    //- ===================================
    script(async, src='js/index.min.js')

  //- Stylesheet and fonts
  //- ===================================
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
  link(rel='stylesheet', href='assets/css/style.min.css')
